* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Amiri", serif;
  background-color: #d6fdf0;
}

img.logo {
  height: 59px;
  border-radius: 50%;
  float: right;
  margin-right: 10%;
  margin-left: 20%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
}

.navbar a {
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #38d39f;
}

.dropdown-content {
  display: none;
  float: right;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 9px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #38d39f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* inscriptio page */
.ins {
  width: 45%;
  border-radius: 30px;
  background-color: transparent;
}
.border {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  background-color: #38d39f;
  width: calc(100% + 2px);
}
.div {
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  position: relative;
}
.div > input, .div > select {
  font-size: 18px;
  width: 45%;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #202124;
  outline: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid #38d39f;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 35px;
  margin-left: 5px;
  font-family: "Amiri", serif;
}
.div > .input-100{
  width: 100%;
}
.div > select{
  height: 40px;
}
.div:hover {
  border: 1px solid #38d39f;
}
.div > input:hover,.div > select:hover {
  font-size: 19px;
  border-bottom: 2px solid #38d39f;
}
.div > textarea {
  resize: none;
  outline: none;
  border: 1px solid #38d39f;
  padding: 10px;
  font-size: 18px;
}
.div > textarea:hover,.div > textarea:active{
  border: 2px solid #38d39f;
  letter-spacing: 0.2px;
  line-height: 20px;
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;    
}
.check{
  height: 18px;
  width: 18px;
  align-items: center;
  margin-top: 10px;
}